<a href="https://colab.research.google.com/github/Koushikey4596/Flight-Delay-Prediction/blob/main/FlightData_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option('display.max_columns', None)
import datetime, warnings, scipy
warnings.filterwarnings("ignore")

In [ ]:
!pip install scikit-learn
!pip install numpy
import numpy as np
import scipy 
from scipy.stats import spearmanr

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/FlightDelays.csv', index_col=0)
df1.head(2).append(df1.tail(2))

,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status,Flight_Status_binary
CRS_DEP_TIME,,,,,,,,,,,,,
1455,OH,1455,JFK,184,01/01/2004,5935,BWI,0,4,1,N940CA,ontime,0
1640,DH,1640,JFK,213,01/01/2004,6155,DCA,0,4,1,N405FJ,ontime,0
1359,RU,1403,EWR,199,1/31/2004,2216,DCA,0,6,31,N16961,ontime,0
1730,RU,1736,EWR,199,1/31/2004,2097,DCA,0,6,31,N13994,ontime,0

In [ ]:
df1.shape

(2201, 13)

In [ ]:
df1.info()

In [ ]:
df1.CARRIER.unique()

array(['OH', 'DH', 'DL', 'MQ', 'UA', 'US', 'RU', 'CO'], dtype=object)

In [ ]:
df1['CARRIER'].replace({
    'UA':'United Airlines',
    'DH':'Douniah Airlines',
    'US':'United States Airlines',
    'RU':'Russian Airlines',
    'CO':'Continental Airlines',
    'MQ':'Envoy Air',
    'OH':'PSA Airlines',
    'DL':'Delta Airlines'
}, inplace=True)

In [ ]:
df1.CARRIER.nunique()

8

In [ ]:
df1.CARRIER.value_counts()

Douniah Airlines          551
Russian Airlines          408
United States Airlines    404
Delta Airlines            388
Envoy Air                 295
Continental Airlines       94
United Airlines            31
PSA Airlines               30
Name: CARRIER, dtype: int64

In [ ]:
airports = pd.read_csv('/content/drive/MyDrive/FlightDelays.csv')
airports.head(10)

,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status,Flight_Status_binary
0,1455,OH,1455,JFK,184,01/01/2004,5935,BWI,0,4,1,N940CA,ontime,0
1,1640,DH,1640,JFK,213,01/01/2004,6155,DCA,0,4,1,N405FJ,ontime,0
2,1245,DH,1245,LGA,229,01/01/2004,7208,IAD,0,4,1,N695BR,ontime,0
3,1715,DH,1709,LGA,229,01/01/2004,7215,IAD,0,4,1,N662BR,ontime,0
4,1039,DH,1035,LGA,229,01/01/2004,7792,IAD,0,4,1,N698BR,ontime,0
5,840,DH,839,JFK,228,01/01/2004,7800,IAD,0,4,1,N687BR,ontime,0
6,1240,DH,1243,JFK,228,01/01/2004,7806,IAD,0,4,1,N321UE,ontime,0
7,1645,DH,1644,JFK,228,01/01/2004,7810,IAD,0,4,1,N301UE,ontime,0
8,1715,DH,1710,JFK,228,01/01/2004,7812,IAD,0,4,1,N328UE,ontime,0
9,2120,DH,2129,JFK,228,01/01/2004,7814,IAD,0,4,1,N685BR,ontime,0

In [ ]:
df1.isna().sum()

CARRIER                 0
DEP_TIME                0
DEST                    0
DISTANCE                0
FL_DATE                 0
FL_NUM                  0
ORIGIN                  0
Weather                 0
DAY_WEEK                0
DAY_OF_MONTH            0
TAIL_NUM                0
Flight Status           0
Flight_Status_binary    0
dtype: int64

In [ ]:
print('Number of total missing values:', df1.isna().sum().sum())
print('df1 shape:', df1.shape)

Number of total missing values: 0
df1 shape: (2201, 13)

In [ ]:
df_NaN = df1.loc[df1.isnull().any(axis=1)]
df_NaN.head(20)

Empty DataFrame
Columns: [CARRIER, DEP_TIME, DEST, DISTANCE, FL_DATE, FL_NUM, ORIGIN, Weather, DAY_WEEK, DAY_OF_MONTH, TAIL_NUM, Flight Status, Flight_Status_binary]
Index: []

In [ ]:
df1['DAY'] = pd.DatetimeIndex(df1['FL_DATE']).day
df1['MONTH'] = pd.DatetimeIndex(df1['FL_DATE']).month
df1.head(2)

,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status,Flight_Status_binary,DAY,MONTH,MONTH_AB,WEEKDAY
CRS_DEP_TIME,,,,,,,,,,,,,,,,,
1455,PSA Airlines,1455,JFK,184,2004-01-01,5935,BWI,0,4,1,N940CA,ontime,0,1,1,Jan,3
1640,Douniah Airlines,1640,JFK,213,2004-01-01,6155,DCA,0,4,1,N405FJ,ontime,0,1,1,Jan,3

In [ ]:

print('Maximum number of days in a month:', df1.DAY.nunique())
print('Total number of months:', df1.MONTH.nunique())

Maximum number of days in a month: 31
Total number of months: 1

In [ ]:
import calendar
df1['MONTH_AB'] = df1['MONTH'].apply(lambda x: calendar.month_abbr[x])

In [ ]:
df1['FL_DATE'] = pd.to_datetime(df1['FL_DATE'])
df1['WEEKDAY'] = df1['FL_DATE'].dt.dayofweek

In [ ]:
df1.WEEKDAY.value_counts()

4    391
3    372
2    320
0    308
1    307
6    253
5    250
Name: WEEKDAY, dtype: int64

In [ ]:
df1.DEST.value_counts().iloc[:20]

LGA    1150
EWR     665
JFK     386
Name: DEST, dtype: int64

In [ ]:
top_cities = df1.DEST.value_counts().iloc[0:20].rename_axis('DEST').reset_index(name='TOTAL_FLIGHTS')
top_cities.head()

  DEST  TOTAL_FLIGHTS
0  LGA           1150
1  EWR            665
2  JFK            386

In [ ]:
top_cities.DEST.unique()

array(['LGA', 'EWR', 'JFK'], dtype=object)

In [ ]:
city_list = top_cities['DEST'].tolist()

In [ ]:
city_list

['LGA', 'EWR', 'JFK']

In [ ]:
boolean_series = df1.DEST.isin(city_list)
dfm = df1[boolean_series]
dfm.head()

,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,FL_NUM,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status,Flight_Status_binary,DAY,MONTH,MONTH_AB,WEEKDAY
CRS_DEP_TIME,,,,,,,,,,,,,,,,,
1455,PSA Airlines,1455,JFK,184,2004-01-01,5935,BWI,0,4,1,N940CA,ontime,0,1,1,Jan,3
1640,Douniah Airlines,1640,JFK,213,2004-01-01,6155,DCA,0,4,1,N405FJ,ontime,0,1,1,Jan,3
1245,Douniah Airlines,1245,LGA,229,2004-01-01,7208,IAD,0,4,1,N695BR,ontime,0,1,1,Jan,3
1715,Douniah Airlines,1709,LGA,229,2004-01-01,7215,IAD,0,4,1,N662BR,ontime,0,1,1,Jan,3
1039,Douniah Airlines,1035,LGA,229,2004-01-01,7792,IAD,0,4,1,N698BR,ontime,0,1,1,Jan,3

In [ ]:
dfm = dfm.drop(columns=['FL_DATE', 'MONTH_AB'])

In [ ]:
dfm.DEST.unique()

array(['JFK', 'LGA', 'EWR'], dtype=object)

In [ ]:
dfm.DEST.value_counts()

LGA    1150
EWR     665
JFK     386
Name: DEST, dtype: int64

In [ ]:
dfm.shape

(2201, 15)

In [ ]:
df1.shape

(2201, 17)

In [ ]:
dfm.to_csv('dfm.csv')

In [ ]:
dfm.corr()

,DEP_TIME,DISTANCE,FL_NUM,Weather,DAY_WEEK,DAY_OF_MONTH,Flight_Status_binary,DAY,MONTH,WEEKDAY
DEP_TIME,1.000000,0.057680,0.105660,0.019001,0.051868,0.000132,0.170116,0.000132,NaN,0.051868
DISTANCE,0.057680,1.000000,0.421937,0.033104,-0.020926,0.010121,-0.018794,0.010121,NaN,-0.020926
FL_NUM,0.105660,0.421937,1.000000,0.042076,0.018604,-0.009268,0.100394,-0.009268,NaN,0.018604
Weather,0.019001,0.033104,0.042076,1.000000,-0.123636,0.144034,0.247217,0.144034,NaN,-0.123636
DAY_WEEK,0.051868,-0.020926,0.018604,-0.123636,1.000000,0.015914,-0.040756,0.015914,NaN,1.000000
DAY_OF_MONTH,0.000132,0.010121,-0.009268,0.144034,0.015914,1.000000,0.066598,1.000000,NaN,0.015914
Flight_Status_binary,0.170116,-0.018794,0.100394,0.247217,-0.040756,0.066598,1.000000,0.066598,NaN,-0.040756
DAY,0.000132,0.010121,-0.009268,0.144034,0.015914,1.000000,0.066598,1.000000,NaN,0.015914
MONTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WEEKDAY,0.051868,-0.020926,0.018604,-0.123636,1.000000,0.015914,-0.040756,0.015914,NaN,1.000000