<a href="https://colab.research.google.com/github/Koushikey4596/Flight-Delay-Prediction/blob/main/Flight_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
pd.set_option('display.max_columns', None)
import datetime, warnings, scipy
warnings.filterwarnings("ignore")

In [ ]:
df1 = pd.read_csv('/content/drive/MyDrive/FlightDelays.csv', index_col=False)
df1.head()

,Unnamed: 0,CRS_DEP_TIME,CARRIER,DEP_TIME,DEST,DISTANCE,FL_DATE,ORIGIN,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight Status,Flight_Status_binary,DEP_DELAY,DAY,MONTH,MONTH_AB
0,0,1455,PSA Airlines,1455,JFK,184,01/01/2004,BWI,0,4,1,N940CA,ontime,0,0,1,1,Jan
1,1,1640,Douniah Airlines,1640,JFK,213,01/01/2004,DCA,0,4,1,N405FJ,ontime,0,0,1,1,Jan
2,2,1245,Douniah Airlines,1245,LGA,229,01/01/2004,IAD,0,4,1,N695BR,ontime,0,0,1,1,Jan
3,3,1715,Douniah Airlines,1709,LGA,229,01/01/2004,IAD,0,4,1,N662BR,ontime,0,-6,1,1,Jan
4,4,1039,Douniah Airlines,1035,LGA,229,01/01/2004,IAD,0,4,1,N698BR,ontime,0,-4,1,1,Jan

In [ ]:
df1['CARRIER'].replace({
    'UA':'United Airlines',
    'DH':'Douniah Airlines',
    'US':'United States Airlines',
    'RU':'Russian Airlines',
    'CO':'Continental Airlines',
    'MQ':'Envoy Air',
    'OH':'PSA Airlines',
    'DL':'Delta Airlines'
}, inplace=True)

In [ ]:
df1.head()

,Unnamed: 0,CRS_DEP_TIME,DEP_TIME,DISTANCE,FL_DATE,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight_Status_binary,DEP_DELAY,DAY,MONTH,MONTH_AB
0,0,1455,1455,184,01/01/2004,0,4,1,N940CA,0,0,1,1,Jan
1,1,1640,1640,213,01/01/2004,0,4,1,N405FJ,0,0,1,1,Jan
2,2,1245,1245,229,01/01/2004,0,4,1,N695BR,0,0,1,1,Jan
3,3,1715,1709,229,01/01/2004,0,4,1,N662BR,0,-6,1,1,Jan
4,4,1039,1035,229,01/01/2004,0,4,1,N698BR,0,-4,1,1,Jan

In [ ]:
df1['DEP_DELAY'] = df1.apply(lambda column: column.DEP_TIME - column.CRS_DEP_TIME, axis=1)
df1.to_csv("/content/drive/MyDrive/FlightDelays.csv")
df1.head()

,Unnamed: 0,CRS_DEP_TIME,DEP_TIME,DISTANCE,FL_DATE,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight_Status_binary,DEP_DELAY,DAY,MONTH,MONTH_AB
0,0,1455,1455,184,01/01/2004,0,4,1,N940CA,0,0,1,1,Jan
1,1,1640,1640,213,01/01/2004,0,4,1,N405FJ,0,0,1,1,Jan
2,2,1245,1245,229,01/01/2004,0,4,1,N695BR,0,0,1,1,Jan
3,3,1715,1709,229,01/01/2004,0,4,1,N662BR,0,-6,1,1,Jan
4,4,1039,1035,229,01/01/2004,0,4,1,N698BR,0,-4,1,1,Jan

In [ ]:
df1 = df1.drop(['FL_NUM'], axis=1)
df1.head(3)

In [ ]:
df1.to_csv("/content/drive/MyDrive/FlightDelays.csv")

In [ ]:

print('Number of total missing values:', df1.isna().sum().sum())
print('df1 shape:', df1.shape)

In [ ]:
df1["DEP_DELAY"] = df1["DEP_DELAY"].fillna(0)
df1.isna().sum()

In [ ]:

df1['DAY'] = pd.DatetimeIndex(df1['FL_DATE']).day
df1['MONTH'] = pd.DatetimeIndex(df1['FL_DATE']).month
df1.head(2)

In [ ]:
print('Maximum number of days in a month:', df1.DAY.nunique())
print('Total number of months:', df1.MONTH.nunique())

In [ ]:
import calendar
df1['MONTH_AB'] = df1['MONTH'].apply(lambda x: calendar.month_abbr[x])

In [ ]:
df1.head(2)

,Unnamed: 0,CRS_DEP_TIME,DEP_TIME,DISTANCE,FL_DATE,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight_Status_binary,DEP_DELAY,DAY,MONTH,MONTH_AB
0,0,1455,1455,184,01/01/2004,0,4,1,N940CA,0,0,1,1,Jan
1,1,1640,1640,213,01/01/2004,0,4,1,N405FJ,0,0,1,1,Jan

In [ ]:
df1.Flight_Status_binary.value_counts(normalize=True)

0    0.805543
1    0.194457
Name: Flight_Status_binary, dtype: float64

In [ ]:
df1.to_csv("/content/drive/MyDrive/FlightDelays.csv")

In [ ]:
df1['FL_DATE'] = pd.to_datetime(df1['FL_DATE'])
df1['WEEKDAY'] = df1['FL_DATE'].dt.dayofweek

In [ ]:
df1.WEEKDAY.value_counts()

4    391
3    372
2    320
0    308
1    307
6    253
5    250
Name: WEEKDAY, dtype: int64

In [ ]:
df1.head()

,Unnamed: 0,CRS_DEP_TIME,DEP_TIME,DISTANCE,FL_DATE,Weather,DAY_WEEK,DAY_OF_MONTH,TAIL_NUM,Flight_Status_binary,DEP_DELAY,DAY,MONTH,MONTH_AB,WEEKDAY
0,0,1455,1455,184,2004-01-01,0,4,1,N940CA,0,0,1,1,Jan,3
1,1,1640,1640,213,2004-01-01,0,4,1,N405FJ,0,0,1,1,Jan,3
2,2,1245,1245,229,2004-01-01,0,4,1,N695BR,0,0,1,1,Jan,3
3,3,1715,1709,229,2004-01-01,0,4,1,N662BR,0,-6,1,1,Jan,3
4,4,1039,1035,229,2004-01-01,0,4,1,N698BR,0,-4,1,1,Jan,3

In [ ]:
print('Total number of departure/origin cities:', df1.ORIGIN.nunique())
print('==================================================')
print('Total number of arrivals/destinations cities:', df1.DEST.nunique())
print('==================================================')

In [ ]:

top_cities = df1.DEST.value_counts().iloc[0:20].rename_axis('DEST').reset_index(name='TOTAL_FLIGHTS')
top_cities.head()

In [ ]:
city_list = top_cities['DEST'].tolist()
city_list

In [ ]:
df1.to_csv("/content/drive/MyDrive/FlightDelays.csv")

In [ ]:
df1.head()

In [ ]:
df1.info()

In [ ]:
df1 = df1.drop(columns=['FL_DATE', 'MONTH_AB','TAIL_NUM'])

In [ ]:
df1.corr()

,Unnamed: 0,CRS_DEP_TIME,DEP_TIME,DISTANCE,Weather,DAY_WEEK,DAY_OF_MONTH,Flight_Status_binary,DEP_DELAY,DAY,MONTH,WEEKDAY
Unnamed: 0,1.000000,0.002847,-0.000054,-0.007065,0.142594,0.021620,0.999065,0.065400,-0.015693,0.999065,NaN,0.021620
CRS_DEP_TIME,0.002847,1.000000,0.983523,0.062368,-0.008266,0.051766,0.002324,0.112474,0.030928,0.002324,NaN,0.051766
DEP_TIME,-0.000054,0.983523,1.000000,0.057680,0.019001,0.051868,0.000132,0.170116,0.211115,0.000132,NaN,0.051868
DISTANCE,-0.007065,0.062368,0.057680,1.000000,0.033104,-0.020926,0.010121,-0.018794,-0.018309,0.010121,NaN,-0.020926
Weather,0.142594,-0.008266,0.019001,0.033104,1.000000,-0.123636,0.144034,0.247217,0.149745,0.144034,NaN,-0.123636
DAY_WEEK,0.021620,0.051766,0.051868,-0.020926,-0.123636,1.000000,0.015914,-0.040756,0.006885,0.015914,NaN,1.000000
DAY_OF_MONTH,0.999065,0.002324,0.000132,0.010121,0.144034,0.015914,1.000000,0.066598,-0.011836,1.000000,NaN,0.015914
Flight_Status_binary,0.065400,0.112474,0.170116,-0.018794,0.247217,-0.040756,0.066598,1.000000,0.332417,0.066598,NaN,-0.040756
DEP_DELAY,-0.015693,0.030928,0.211115,-0.018309,0.149745,0.006885,-0.011836,0.332417,1.000000,-0.011836,NaN,0.006885
DAY,0.999065,0.002324,0.000132,0.010121,0.144034,0.015914,1.000000,0.066598,-0.011836,1.000000,NaN,0.015914
MONTH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WEEKDAY,0.021620,0.051766,0.051868,-0.020926,-0.123636,1.000000,0.015914,-0.040756,0.006885,0.015914,NaN,1.000000

In [ ]:
df1 = df1.drop(columns=['MONTH'])

In [ ]:
df1.head()

,Unnamed: 0,CRS_DEP_TIME,DEP_TIME,DISTANCE,Weather,DAY_WEEK,DAY_OF_MONTH,Flight_Status_binary,DEP_DELAY,DAY,WEEKDAY
0,0,1455,1455,184,0,4,1,0,0,1,3
1,1,1640,1640,213,0,4,1,0,0,1,3
2,2,1245,1245,229,0,4,1,0,0,1,3
3,3,1715,1709,229,0,4,1,0,-6,1,3
4,4,1039,1035,229,0,4,1,0,-4,1,3

In [ ]:
df1.corr()

In [ ]:
abs(df1.corr())>.75

In [ ]:
plt.figure(figsize=(20,14))
ax = sns.heatmap(df1.corr(), cmap='viridis', center=0, annot=True)
bottom, top = ax.get_ylim()
plt.text(0,-0.6, "df2 - Heat Map", fontsize = 30, color='Black', fontstyle='normal')
ax.set_ylim(bottom + 0.5, top - 0.5)
plt.yticks(rotation=0, fontsize=14)
plt.xticks(rotation=90, fontsize=14)
plt.show()

In [ ]:
df1.head()

,Unnamed: 0,CRS_DEP_TIME,DEP_TIME,DISTANCE,Weather,DAY_WEEK,DAY_OF_MONTH,Flight_Status_binary,DEP_DELAY,DAY,WEEKDAY
0,0,1455,1455,184,0,4,1,0,0,1,3
1,1,1640,1640,213,0,4,1,0,0,1,3
2,2,1245,1245,229,0,4,1,0,0,1,3
3,3,1715,1709,229,0,4,1,0,-6,1,3
4,4,1039,1035,229,0,4,1,0,-4,1,3

In [ ]:
df1 = df1.drop(columns=['CARRIER','DEST','ORIGIN','Flight Status'])
df1.head()

In [ ]:
df1 = df1.drop(["Unnamed: 0"], axis=1)

In [ ]:
df1.head()

,CRS_DEP_TIME,DEP_TIME,DISTANCE,Weather,DAY_WEEK,DAY_OF_MONTH,Flight_Status_binary,DEP_DELAY,DAY,WEEKDAY
0,1455,1455,184,0,4,1,0,0,1,3
1,1640,1640,213,0,4,1,0,0,1,3
2,1245,1245,229,0,4,1,0,0,1,3
3,1715,1709,229,0,4,1,0,-6,1,3
4,1039,1035,229,0,4,1,0,-4,1,3

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2201 entries, 0 to 2200
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CRS_DEP_TIME          2201 non-null   int64
 1   DEP_TIME              2201 non-null   int64
 2   DISTANCE              2201 non-null   int64
 3   Weather               2201 non-null   int64
 4   DAY_WEEK              2201 non-null   int64
 5   DAY_OF_MONTH          2201 non-null   int64
 6   Flight_Status_binary  2201 non-null   int64
 7   DEP_DELAY             2201 non-null   int64
 8   DAY                   2201 non-null   int64
 9   WEEKDAY               2201 non-null   int64
dtypes: int64(10)
memory usage: 172.1 KB

In [ ]:
y = df1['Flight_Status_binary']
X = df1.drop(['Flight_Status_binary'], axis = 1)

In [ ]:
from sklearn.model_selection import train_test_split

X_test, X_train, y_test, y_train = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
from sklearn.linear_model import LogisticRegression
Lr=LogisticRegression()
Lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
print('Logestic Regression Accuracy:',Lr.score(X_test,y_test))

Logestic Regression Accuracy: 0.8981818181818182

In [ ]:
Lr_train_preds = Lr.predict(X_train)
Lr_test_preds = Lr.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report

In [ ]:
def display_acc_and_f1_score(true, preds, model_name):
    acc = accuracy_score(true, preds)
    f1 = f1_score(true, preds)
    print("Model: {}".format(model_name))
    print("Accuracy: {}".format(acc))
    print("F1-Score: {}".format(f1))
    
print("Training Metrics")
print('----------------------------')
display_acc_and_f1_score(y_train, Lr_train_preds, model_name='Logestic Regression')
print("")

print("Testing Metrics")
print('----------------------------')
display_acc_and_f1_score(y_test,Lr_test_preds, model_name='Logestic Regression')
print("")

Training Metrics
----------------------------
Model: Logestic Regression
Accuracy: 0.9019963702359347
F1-Score: 0.6707317073170732

Testing Metrics
----------------------------
Model: Logestic Regression
Accuracy: 0.8981818181818182
F1-Score: 0.6806083650190115

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
Lr_confusion_matrix = confusion_matrix(y_test, Lr_test_preds)
Lr_confusion_matrix

array([[1303,   25],
       [ 143,  179]])

In [ ]:
Lr_classification_report = classification_report(y_test, Lr_test_preds)
print(Lr_classification_report)

              precision    recall  f1-score   support

           0       0.90      0.98      0.94      1328
           1       0.88      0.56      0.68       322

    accuracy                           0.90      1650
   macro avg       0.89      0.77      0.81      1650
weighted avg       0.90      0.90      0.89      1650

In [ ]:
from sklearn.model_selection import  GridSearchCV, cross_val_score

In [ ]:
print('Mean Lr Cross-Val Score (k=5):')
print(cross_val_score(Lr, X, y, cv=5).mean())

Mean Lr Cross-Val Score (k=5):
0.8895908060193773

In [ ]:
df1.head()

,CRS_DEP_TIME,DEP_TIME,DISTANCE,Weather,DAY_WEEK,DAY_OF_MONTH,Flight_Status_binary,DEP_DELAY,DAY,WEEKDAY
0,1455,1455,184,0,4,1,0,0,1,3
1,1640,1640,213,0,4,1,0,0,1,3
2,1245,1245,229,0,4,1,0,0,1,3
3,1715,1709,229,0,4,1,0,-6,1,3
4,1039,1035,229,0,4,1,0,-4,1,3

In [ ]:

l=[[1500,1725,150,0,4,1,175,1,3],[1500,1515,150,0,4,1,-15,1,3]]

#ypred=Lr.predict(X)
f1=Lr.predict(l)
print('Logistic regression:')

for i in range(len(f1)):

    if (int(f1[i])==1):
        print(f1[i],"- Flight Delay")
    else:
        print(f1[i],"- no delay")

Logistic regression:
1 - Flight Delay
0 - no delay

In [ ]:
print(Lr.score(X_test,y_test))

0.8981818181818182